@import "../../../scss/colors";

$slider-size: 26px;

.input-switch {
  margin-left: 100px;
  position: relative;
  display: flex;
  width: 60px;
  height: 34px;

  &_readonly{
    opacity: 0.5;
  }
  &__input {
    width: 0;
    height: 0;
  }

  &__slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-grey;
    transition: .4s;
    border-radius: 34px;

    &:before {
      position: absolute;
      content: "";
      height: $slider-size;
      width: $slider-size;
      left: 4px;
      bottom: 4px;
      background-color: $color-white;
      transition: .4s;
      border-radius: 50%;
    }
  }
}


input:checked + .input-switch__slider {
  background-color: $color-lightblue;
  &:before {
    transform: translateX(100%);
  }
}


