.allTooltip__input{
  margin-bottom: 50px;
  margin-left: 100px;
}

.tooltip{
  position: absolute;
  display: flex;
  align-items: center;

  &__text{
    background: cornflowerblue;
    color: white;
    box-shadow: 0 0 6px 0 grey;
    padding: 5px;
    border-radius: 3px
  }
}

.tooltip__arrow{
  border: 5px solid transparent;
  width: 0;
  height: 0;
}

.tooltip_right{
  flex-direction: row;
  transform: translateY(-50%);
}

.tooltip_right > .tooltip__arrow{
  border-right: 5px solid cornflowerblue;
}

.tooltip_left{
  flex-direction: row-reverse;
  transform: translateX(-100%);
}

.tooltip_left > .tooltip__arrow{
  border-left: 5px solid cornflowerblue;
}

.tooltip_top{
  flex-direction: column-reverse;
  transform: translateX(100%);
}

.tooltip_top > .tooltip__arrow{
  border-top: 5px solid cornflowerblue;
}

.tooltip_bottom{
  flex-direction: column;
  transform: translateX(50%);
}

.tooltip_bottom > .tooltip__arrow{
  border-bottom: 5px solid cornflowerblue;
}
