.tooltip1{
  margin-left: 100px;
}

.tooltip{
  position: absolute;
  transform: translateX(-50%);
  display: flex;
  align-items: center;

  &__text{
    background: cornflowerblue;
    color: white;
    box-shadow: 0 0 6px 0 grey;
    padding: 5px;
    border-radius: 3px
  }
}

.tooltip_right{
  flex-direction: row;
  margin-top: 6px;
  margin-left: 125px;
}

.tooltip_right > .tooltip__arrow{
  border: 5px solid transparent;
  width: 0;
  height: 0;
  border-right: 5px solid cornflowerblue;
}

.tooltip_left{
  flex-direction: row-reverse;
  margin-top: 6px;
  margin-left: -115px;
}

.tooltip_left > .tooltip__arrow{
  border: 5px solid transparent;
  width: 0;
  height: 0;
  border-left: 5px solid cornflowerblue;
}

.tooltip_top{
  flex-direction: column-reverse;
  margin-top: -25px;
}

.tooltip_top > .tooltip__arrow{
  border: 5px solid transparent;
  width: 0px;
  height: 0px;
  border-top: 5px solid cornflowerblue;
  display: inline-block;
}

.tooltip_bottom{
  flex-direction: column;
  margin-top: 30px;
}

.tooltip_bottom > .tooltip__arrow{
  border: 5px solid transparent;
  width: 0px;
  height: 0px;
  border-bottom: 5px solid cornflowerblue;
  display: inline-block;
}
