<div class="allTooltip">
  <h3>Right tooltip directive</h3>
  <input class = "allTooltip__input" type="text" appTooltip tooltipText="right text" tooltipPosition="right"/>
  <h3>Left tooltip directive</h3>
  <input class = "allTooltip__input" type="text" appTooltip tooltipText="left text" tooltipPosition="left"/>
  <h3>Top tooltip directive</h3>
  <input class = "allTooltip__input" type="text" appTooltip tooltipText="top text" tooltipPosition="top"/>
  <h3>Bottom tooltip directive</h3>
  <input class = "allTooltip__input" type="text" appTooltip tooltipText="bottom text" tooltipPosition="bottom"/>
</div>
