.tooltip {
  position: relative;
  display: flex;
  width: 100px;
  margin-left: 50px;

  &_left {
    flex-direction: row;
  }
  &_right {
    flex-direction: row-reverse;
  }
  &_top {
    flex-direction: column;
  }
  &_buttom {
    flex-direction: column-reverse;
  }

  &__text {
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    border-radius: 4px;
    opacity: 0;
    transition: 0.5s;
  }
}

.tooltip:hover .tooltip__text {
  opacity: 1;
}
