<div class="main">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
  <div class="main__title">Library</div>
  <div class="main__example">
    <nav>
      <div class="main__inputSwitch" routerLink="/InputSwitch" routerLinkActive="active">InputSwitch</div>
      <div class="main__dialog" routerLink="/Dialog" routerLinkActive="active">Dialog</div>
      <div class="main__tooltip" routerLink="/Tooltip" routerLinkActive="active">Tooltip</div>
      <div class="main__tooltipDirective" routerLink="/TooltipDirective" routerLinkActive="active">TooltipDirective
      </div>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>
