<app-input-switch-showcase></app-input-switch-showcase>
<div class="main-tooltip">
<h3>Right tooltip</h3>
<input class = "tooltip1" type="text" appTooltip tooltipText="right text" tooltipPosition="right"/>
<h3>Left tooltip</h3>
<input class = "tooltip1" type="text" appTooltip tooltipText="left text" tooltipPosition="left"/>
<h3>Top tooltip</h3>
<input class = "tooltip1" type="text" appTooltip tooltipText="top text" tooltipPosition="top"/>
<h3>Bottom tooltip</h3>
<input class = "tooltip1" type="text" appTooltip tooltipText="bottom text" tooltipPosition="bottom"/>
</div>
  <app-dialog-showcase></app-dialog-showcase>
<app-tooltip-showcase></app-tooltip-showcase>

