@import "../scss/colors";

.main {
  line-height: 50px;
  margin-top: 25px;
  background: $color-black;

  &__title {
    color: $color-lightblue;
    text-align: center;
    font-size: 60px;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__example {
    color: $color-lightblue;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    margin-left: 20px;
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
  }

  &__inputSwitch {
    color: $color-yellow;
    margin-right: 50px;
    padding-right: 50px;

  }

  &__dialog {
    color: $color-chocolate;
    margin-right: 50px;
    padding-right: 50px;
  }

  &__tooltip {
    color: $color-crimson;
    margin-right: 50px;
    padding-right: 50px;
  }

  &__tooltipDirective {
    color: $color-green;
    margin-right: 50px;
    padding-right: 50px;
  }
}
