@import "../../../scss/colors";

button{
  background: $color-lightblue;
  border-radius: 15px;
  margin-left: 100px;
  padding: 10px;
  color: $color-white;
  font-weight: bolder;
  font-size: 15px;
}
