$color-black: black;
$color-grey: lightgrey;
$color-white: white;
$color-lightblue: cornflowerblue;
$color-darkblue: darkblue;
$color-brown: brown;
$color-crimson: crimson;
$color-chocolate: chocolate;
$color-orange: darkorange;
$color-yellow: gold;
$color-green: darkgreen;
