<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<div class="dialog" *ngIf="visible">
  <div class="dialog__container" [ngClass]="{dialog__container_fullview: fullView}">
    <div class="dialog__titlebar">
      <span class="dialog__title">{{title}}</span>
      <button class="btn btn-small btn-info" class="dialog__showbig" (click)="showBig()"><i class="icon-info-sign"></i>{{size}}
      </button>
      <button class="btn btn-danger" class="dialog__close" (click)="close()">
      <i class="icon-trash icon-large"></i>Close dialog</button>
    </div>
    <div class="dialog__content">
      <ng-content>
      </ng-content>
    </div>
  </div>
</div>
